<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/updateData.js"></script>
    <script>
        $(document).ready(function() {
            const dataContainer = $('#dataContainer');

            const eventSource = new EventSource('/api/data');

            eventSource.onmessage = function (event) {
                const data = JSON.parse(event.data);
                dataContainer.text('Value: ' + data.value);
            };

            eventSource.onerror = function (error) {
                console.error('Błąd w połączeniu SSE:', error);
                eventSource.close();
                // Ustawienie ponownego połączenia po błędzie
                setTimeout(function() {
                    location.reload();
                }, 5000); // Odśwież stronę co 5 sekund (5000 milisekund)
            };
        });
    </script>
</head>
<body>
<h1>Dynamicznie Zmieniające Się Dane</h1>
<div id="dataContainer"></div>
</body>
</html>
